.slidebase {
  display: none;
  background: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
  
.slide {
  z-index: 1000;
  position: fixed;
  height: 100%;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
}
