body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

#kuali-menu { 
  padding: 12px;
  color: white;
  width: 25px;
  height: 25px;
  background-color: rgba(0,0,0,.3);
  border-radius: 0px 5px 0px 0px;
  position: fixed;
  bottom: 0; left: 0;
  display: block;
  z-index: 10000;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#kuali-menu img {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

.slidebase {
    display: none;
    background: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.slide {
    z-index: 10000;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
}

